#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Terminal=false
Exec=/vsfs01/opt/CBD/CHITUBOX_Basic/CHITUBOX_Basic.sh
Name=CHITUBOX
Comment=Resin 3D Printing
Icon=/vsfs01/packages/CHITUBOX/chitubox_icon.png
Categories=Graphics
