#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Terminal=false
Exec=/opt/CBD/CHITUBOX_Basic/CHITUBOX_Basic.sh
Name=CHITUBOX
Comment=Resin 3D Printing
Icon=/vsfs01/config_files/CHITUBOX/CHITUBOX.png
Categories=Graphics
