#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Terminal=false
Exec=/vsfs01/opt/LightBurn/LightBurn
Name=LightBurn
Comment=Better Software For Laser Cutters
Icon=/vsfs01/opt/LightBurn//LightBurn.png
Categories=Graphics
