#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Terminal=false
Exec=/usr/share/LightBurn/LightBurn
Name=LightBurn
Icon=/usr/share/lightburn-square_720x.png?v=1519966515
Categories=Graphics
