[Desktop Entry]
Name=PathPlanner
GenericName=FRC Path Planning
Icon=/vsfs01/opt/PathPlanner/data/flutter_assets/images/icon.png
Exec=/vsfs01/opt/pathplanner
Terminal=false
Type=Application
Categories=Engineering;

