# Configure all clients to use LDAP with sssd
# install sssd
# create /etc/sudoers.d/admins file

- name: config_ldap
  hosts: clients
  become: true
  become_method: su
  tasks:
  - name: Install SSSD
    when: ansible_os_family == "Archlinux"
    pacman: name={{item}} state=installed update_cache=yes
    with_items:
      - sssd

# https://wiki.debian.org/LDAP/
  - name: Install LDAP client software, debian
    when: ansible_os_family == "Debian" or ansible_os_family == 'Kali GNU/Linux'
    apt: name={{item}} state=latest update_cache=yes
    with_items:
      - sssd
      - libpam-sss
      - libnss-sss
      - ldap-utils
      - libnss-ldap
      - libsss-sudo
      - libpam-ldap
      - accountsservice

  - name: Configure sssd.conf
    copy:
      src: ~/ansible/config_files/sssd.conf
      dest: /etc/sssd/sssd.conf
      owner: root
      mode: 0600

  - name: Configure nscd.conf
    copy:
      src: ~/ansible/config_files/nscd.conf
      dest: /etc/nscd.conf

  - name: Configure nsswitch.conf
    copy:
      src: ~/ansible/config_files/nsswitch.conf
      dest: /etc/nsswitch.conf

  - name: Configure system-auth
    copy:
      src: ~/ansible/config_files/system-auth
      dest: /etc/pam.d/system-auth

  - name: Configure Sudo
    copy:
      src: ~/ansible/config_files/sudo
      dest: /etc/pam.d/sudo

  - name: Configure passwd
    copy:
      src: ~/ansible/config_files/passwd
      dest: /etc/pam.d/passwd

  - name: create directory for TLS cert on Debian
    file:
      path=/etc/openldap/certs
      recurse=yes
      state=directory

  - name: setup TLS
    copy:
      src: ~/ansible/config_files/ca_server.pem
      dest: /etc/openldap/certs/ca_server.pem

  - name: Enable SSSD
    systemd: state=started name=sssd.service daemon_reload=yes enabled=yes
