- hosts: computer-lab, projectors
  become: yes
  become_method: su
  environment:
    PATH: "/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"  
  tasks:

    #######################################################################
    # For RoboRIO comms
    # https://www.chiefdelphi.com/t/roborio-usb-on-linux/396977
    #
    # Debian Networking Notes: https://www.debian.org/doc/manuals/debian-reference/ch05.en.html#_the_network_interface_name
    # https://askubuntu.com/questions/1391256/systemd-networking-basics-cannot-switch-from-dhcp-to-static-ip-address
    #
  - name: "Install DHCP Server"
    when: ansible_os_family == "Debian"
    apt:
      name: ['isc-dhcp-server']

  - name: "create static ip for usb0. NetworkManager method"
    when: ansible_os_family == "Debian"
    copy:
      src: ../config_files/roborio.nmconnection
      dest: /etc/NetworkManager/system-connections/
      owner: root

  - name: "Reload NM connection files"
    when: ansible_os_family == "Debian"
    ansible.builtin.command: nmcli connection reload

  - name: "configure /etc/default/isc-dhcp-server"
    when: ansible_os_family == "Debian"
    copy:
      src: ../config_files/isc-dhcp-server
      dest: /etc/default/
      owner: root

  - name: "configure /etc/dhcp/dhcpd.conf"
    when: ansible_os_family == "Debian"
    copy:
      src: ../config_files/dhcp-dhcpd.conf
      dest: /etc/dhcp/dhcpd.conf
      owner: root

  - name: "configure udev rules"
    when: ansible_os_family == "Debian"
    copy:
      src: ../config_files/98-rio.rules
      dest: /etc/udev/rules.d/
      owner: root

  - name: "Create PathPlanner Shortcut"
    when: ansible_os_family == "Debian"
    copy:
      src: ../config_files/pathplanner.desktop
      dest: /usr/share/applications/
      owner: root

  - name: "Install AdvantageScope"
    apt:
      deb: '/vsfs01/packages/AdvantageScope/advantagescope-linux-x64-v4.1.2.deb'

  - name: "Create Fritzing Shortcut"
    when: ansible_os_family == "Debian"
    copy:
      src: ../config_files/fritzing.desktop
      dest: /usr/share/applications/
      owner: root


  # - name: "Install RabbitVCS SVN tools"
  #   apt:
  #     name: ['rabbitvcs-core', 'rabbitvcs-cli']

  # - name: "Copy RabbitVCS .desktop files"
  #   copy:
  #     src: ../config_files/rabbitvcs_svn_submenu_directory.desktop
  #     dest: /usr/share/kio/servicemenus/
  #     owner: root
      
  # - name: "Copy RabbitVCS .desktop files"
  #   copy:
  #     src: ../config_files/rabbitvcs_svn_submenu_file.desktop
  #     dest: /usr/share/kio/servicemenus/
  #     owner: root

  # - name: Ensure hg is hidden in [HideItem]
  #   ini_file:
  #     path: "~/.config/rabbitvcs/settings.conf"
  #     section: "HideItem"
  #     option: "hg"
  #     value: "True"
  #     backup: yes

  # - name: Ensure git is hidden in [HideItem]
  #   ini_file:
  #     path: "~/.config/rabbitvcs/settings.conf"
  #     section: "HideItem"
  #     option: "git"
  #     value: "True"
  #     backup: yes

  - name: "Install thunar-vcs-plugin for SVN tools"
    apt:
      name: ['thunar-vcs-plugin']