- name: Initialize Client machines
  hosts: clients
  become: true
  become_method: su
  gather_facts: true
  tasks:

  - name: Printing Fact Variables
    debug:
      msg: "The value of OS Family is {{ansible_os_family}}"

  - name: Enable openssh
    systemd: state=started name=sshd.service enabled=yes

  - name: Set authorized key for root
    authorized_key:
      user: root # remote user
      state: present
      key: "{{ lookup('file', '~/.ssh/id_rsa.pub') }}"

  - name: Set authorized key
    authorized_key:
      user: vectorspace # remote user
      state: present
      key: "{{ lookup('file', '~/.ssh/id_rsa.pub') }}"

  - name: setup locale in /etc/environment. fixes scp tab complete bug
    when: ansible_os_family == "Debian" and ansible_distribution != 'Ubuntu'
    copy:
      src: ../config_files/environment
      dest: /etc/environment
      owner: root

  - name: attach cups clients to server
    when: ansible_os_family == "Debian"
    copy:
      src: ../config_files/client.conf
      dest: /etc/cups/
      owner: root

  - name: Ensure numlock on in KDE
    copy:
      src: ../config_files/sddm.conf
      dest: /etc/sddm.conf
      owner: root
