- name: mount_samba
  hosts: clients
  become: true
  become_method: su
  tasks:
    - name: install CIFS Arch
      when: ansible_os_family == "Archlinux"
      pacman: name=['cifs-utils'] state=latest force=yes

    - name: install CIFS Debian
      when: ansible_os_family == "Debian"
      apt:
        name: cifs-utils
        state: latest

    - name: install samba mount systemd unit file
      template: src=/vsfs01/home/aspontarelli/ansible/config_files/vsfs01-share.mount dest=/etc/systemd/system/vsfs01-share.mount

    - name: start and enable samba mount
      systemd: state=started name=vsfs01-share.mount daemon_reload=yes enabled=yes
