- hosts: computer-lab
  become: yes
  become_method: su
  tasks:

  - name: SheetCAM copy deb file
    copy:
      src: /vsfs01/packages/SheetCam_setupV7.1.35-64.bin
      dest: /tmp
      owner: root
      mode: a+x

  - name: Install SheetCAM
    ansible.builtin.command:
      cmd: /tmp/SheetCam_setupV7.1.35-64.bin

  - name: SheetCAM Copy desktop file
    copy:
      src: /vsfs01/configs/sheetcam.desktop
      dest: /usr/share/applications
      owner: root

  - name: SheetCAM license for vectorspace user
    copy:
      src: ../config_files/VectorSpace.camlic
      dest: /home/vectorspace/.SheetCamTNG-dev/license.camlic
      owner: vectorspace

  - name: SheetCAM configure
    copy:
      src: ../config_files/SheetCamTNG-dev.ini
      dest: /home/vectorspace/.SheetCamTNG-dev/
      owner: vectorspace