- hosts: clients
  become: yes
  become_method: su
  ignore_errors: true
  tasks:

  - name: "Install Debian 12 packages"
    when: ansible_os_family == "Debian"
    apt:
      name: ['git', 'emacs', 'kdenlive', 'nmap', 'libreoffice', 'librecad', 'gimp', 'inkscape', 'xfburn',  'octave', 'ghc','cups', 'zsh', 'ffmpeg', 'xfce4', 'gthumb', 'python3-pip', 'vim', 'r-base', 'gcc', 'okular', 'vlc', 'openssh-server', 'lightdm', 'lightdm-gtk-greeter', 'light-locker', 'cmake', 'automake', 'build-essential', 'meshlab', 'filezilla', 'python3-setuptools', 'kicad', 'audacity', 'ansible', 'thunderbird', 'kicad-libraries', 'kicad-footprints', 'kicad-packages3d', 'kicad-symbols', 'krita', 'openscad', 'gnome-calculator', 'inkscape-tutorials', 'font-manager', 'scribus', 'rsync', 'darktable', 'xfce4-screenshooter', 'racket', 'mit-scheme', 'mit-scheme-dbg', 'python3-pyclipper', 'potrace', 'dnsutils', 'libwx-perl', 'libwx-glcanvas-perl', 'python3-pandas', 'python3-matplotlib', 'freecad', 'inkscape', 'arduino', 'spyder', 'idle3', 'qelectrotech', 'qelectrotech-data', 'prusa-slicer', 'python3-serial', 'pdfarranger', 'g++', 'libfreetype-dev', 'curl', 'wget', 'gpg']
      state: latest
      force: yes



  # - name: "Install Debian 11 packages"
  #   when: ansible_os_family == "Debian" or ansible_os_family == 'Kali GNU/Linux'
  #   apt:
  #     name: ['python-is-python3', 'git', 'blender', 'emacs', 'kdenlive', 'nmap', 'libreoffice', 'librecad', 'gimp', 'inkscape', 'xfburn',  'octave', 'ghc','cups', 'zsh', 'ffmpeg', 'xfce4', 'gthumb', 'python3-pip', 'vim', 'r-base', 'gcc', 'okular', 'vlc', 'openssh-server', 'lightdm', 'lightdm-gtk-greeter', 'light-locker', 'cmake', 'automake', 'build-essential', 'meshlab', 'filezilla', 'python3-setuptools', 'kicad', 'audacity', 'ansible', 'thunderbird', 'kicad-libraries', 'kicad-footprints', 'kicad-packages3d', 'kicad-symbols', 'krita', 'openscad', 'simplescreenrecorder', 'gnome-calculator', 'inkscape-tutorials', 'font-manager', 'scribus', 'pdfshuffler', 'rsync', 'darktable', 'xfce4-screenshooter', 'octave', 'racket', 'mit-scheme', 'mit-scheme-dbg', 'python3-pyclipper', 'potrace']

      # state: latest
      # force: yes

  # - name: "Install Debian libraries for Inkscape copy/paste bug"
  #   when: ansible_os_family == "Debian" or ansible_os_family == 'Kali GNU/Linux'
  #   apt:
  #     name: ['liblcms2-dev', 'libmagickwand-dev', 'libpango1.0-dev', 'libcairo2-dev',  'python-dev', 'pstoedit', 'ruby', 'dia', 'libsvg-perl', 'libxml-xql-perl']
  #     # 'python-cairo-dev',
  #     state: latest
  #     force: yes

  - name: "Ubuntu only packages"
    when: ansible_distribution == "Ubuntu" # find using, ansible -i "joshua," all -m setup
    apt:
      name: ['chromium-browser']
      state: latest
      force: yes

  - name: "Debian only packages"
    when: ansible_os_family == "Debian" and ansible_distribution != 'Ubuntu'
    apt:
      name: ['chromium', 'firmware-amd-graphics', 'firmware-realtek', 'htop', 'gphoto2', 'gphotofs', 'gtkam', 'arduino-core', 'gvfs', 'gvfs-fuse', 'gvfs-backends']
      state: latest
      force: yes


      # Debian 11 arduino solution
  # - command: ls /usr/bin/arduino
  #   register: result
  #   ignore_errors: True
  # - name: Local Arduino not found, install from network
  #   when: result is failed
  #   shell: /vsfs01/opt/arduino-1.8.13/install.sh


    # # Install freecad if not present
  # - command: ls /opt/freecad
  #   register: freecad_present
  #   ignore_errors: True

  # - name: Install FreeCAD
  #   when: freecad_present is failed
  #   get_url: url=https://github.com/FreeCAD/FreeCAD/releases/download/0.19_pre/FreeCAD_0.19-23756-Linux-Conda_glibc2.12-x86_64.AppImage dest=/opt/freecad

  # - name: set freecad executable
  #   file:
  #     path: /opt/freecad
  #     owner: root
  #     mode: '0755'

  # - name: freecad desktop application file
  #   copy:
  #     src: ../config_files/freecad.desktop
  #     dest: /usr/share/applications
  #     owner: root

  # - name: freecad icon install
  #   copy:
  #     src: ../config_files/appimagekit-freecad.png
  #     dest: /tmp
  # - command: xdg-icon-resource install --size 64 /tmp/appimagekit-freecad.png

  # blender broke in Debian Testing
  - name: blender desktop application file
    copy:
      src: ../config_files/blender.desktop
      dest: /usr/share/applications
      owner: root

  - name: blender icon install
    copy:
      src: ../config_files/blender-3d-icon-9.png
      dest: /tmp
  - command: xdg-icon-resource install --size 64 /tmp/blender-3d-icon-9.png

  - name: fengrave desktop application file
    copy:
      src: ../config_files/f-engrave.desktop
      dest: /usr/share/applications
      owner: root

  - name: fengrave icon install
    copy:
      src: ../config_files/scorch_logo.png
      dest: /tmp
  - command: xdg-icon-resource install --size 64 --novendor /tmp/scorch_logo.png

  - name: OpenRocket desktop file
    when: ansible_os_family == "Debian"
    copy:
      src: ../config_files/openrocket.desktop
      dest: /usr/share/applications
      owner: root

  # - name: Inkstitch plugin
  #   when: ansible_os_family == "Debian"
  #   copy:
  #     src: ../config_files/inkstitch-v2.0.0
  #     dest: /usr/share/inkscape/extensions/
  #     owner: root


  - name: Prusa-slicer profiles for vectorspace user
    when: ansible_os_family == "Debian"
    ansible.posix.synchronize:
      src: /vsfs01/home/aspontarelli/.config/PrusaSlicer
      dest: /home/vectorspace/.config/PrusaSlicer
      #owner: vectorspace

  - name: LightBurn Application
    when: ansible_os_family == "Debian"
    ansible.posix.synchronize:
      src: /vsfs01/home/aspontarelli/ansible/config_files/LightBurn
      dest: /opt/
      #owner: root

  - name: LightBurn Desktop file
    when: ansible_os_family == "Debian"
    copy:
      src: /vsfs01/home/aspontarelli/ansible/config_files/LightBurn.desktop
      dest: /usr/share/applications/
      owner: root

  - name: Lightburn license install
    copy:
      src: ../config_files/lightburn.ldata
      dest: /etc
      owner: root

  # - name: Freecad point to /vsfs01/opt version 0.19
  #   replace:
  #     path: /usr/share/applications/freecad.desktop
  #     regexp: '\/usr\/bin\/freecad'
  #     replace: '\/vsfs01\/opt\/freecad'

  # - name: Slack
  #   https://www.how2shout.com/linux/how-to-install-slack-on-debian-11-bullseye-linux/

  - name: VSCode
    apt:
      deb: '/vsfs01/home/aspontarelli/ansible/config_files/code_1.93.1-1726079302_amd64.deb'
      dpkg_options: '-y' # answer yes to prompt
  - name: VSCode2
    command: apt install /vsfs01/home/aspontarelli/ansible/config_files/code_1.93.1-1726079302_amd64.deb -y
