- hosts: computer-lab
  become: yes
  become_method: su
  ignore_errors: true
  tasks:

  - name: "Install Debian 12 packages"
    when: ansible_os_family == "Debian"
    apt:
      name: [
      'ansible',
      'arduino',
      'audacity',
      'automake',
      'blender',
      'build-essential',
      'cups',
      'darktable',
      'dnsutils',
      'emacs',
      'ffmpeg',
      'filezilla',
      'font-manager',
      'freecad',
      'fritzing',
      'gcc',
      'ghc',
      'gimp',
      'git',
      'gnome-calculator',
      'gthumb',
      'idle3',
      'inkscape-tutorials',
      'inkscape',
      'inkscape',
      'kdenlive',
      'kicad-footprints',
      'kicad-libraries',
      'kicad-packages3d',
      'kicad-symbols',
      'kicad',
      'krita',
      'libncurses5',
      'librecad',
      'libreoffice',
      'libwx-glcanvas-perl',
      'libwx-perl',
      'light-locker', 'cmake',
      'lightdm-gtk-greeter',
      'lightdm',
      'meshlab',
      'mit-scheme-dbg',
      'mit-scheme',
      'nmap',
      'octave',
      'octave',
      'okular',
      'openscad',
      'openssh-server',
      'potrace',
      'prusa-slicer',
      'python-is-python3',
      'python3-matplotlib',
      'python3-pandas',
      'python3-pip',
      'python3-pyclipper',
      'python3-serial',
      'python3-setuptools',
      'qelectrotech-data',
      'qelectrotech',
      'qgis',
      'r-base',
      'racket',
      'rsync',
      'scribus',
      'simplescreenrecorder',
      'spyder',
      'thunderbird',
      'vim',
      'vlc',
      'webext-ublock-origin-firefox',
      'webext-ublock-origin-chromium',
      'xfburn',
      'xfce4-screenshooter',
      'xfce4',
      'zsh'
      ]

      state: latest
      force: yes


  # - name: "Install Debian libraries for Inkscape copy/paste bug"
  #   when: ansible_os_family == "Debian"
  #   apt:
  #     name: ['liblcms2-dev', 'libmagickwand-dev', 'libpango1.0-dev', 'libcairo2-dev',  'python-dev', 'pstoedit', 'ruby', 'dia', 'libsvg-perl', 'libxml-xql-perl']
  #     # 'python-cairo-dev',
  #     state: latest
  #     force: yes

  - name: "Ubuntu only packages"
    when: ansible_distribution == "Ubuntu" # find using, ansible -i "joshua," all -m setup
    apt:
      name: ['chromium-browser']
      state: latest
      force: yes

  - name: "Debian only packages"
    when: ansible_os_family == "Debian" and ansible_distribution != 'Ubuntu'
    apt:
      name: ['chromium', 'firmware-amd-graphics', 'firmware-realtek', 'htop', 'gphoto2', 'gphotofs', 'gtkam', 'arduino-core', 'gvfs', 'gvfs-fuse', 'gvfs-backends']
      state: latest
      force: yes


      # Debian 11 arduino solution
  # - command: ls /usr/bin/arduino
  #   register: result
  #   ignore_errors: True
  # - name: Local Arduino not found, install from network
  #   when: result is failed
  #   shell: /vsfs01/opt/arduino-1.8.13/install.sh

  - name: fengrave desktop application file
    copy:
      src: ../config_files/f-engrave.desktop
      dest: /usr/share/applications
      owner: root

  - name: fengrave icon install
    copy:
      src: ../config_files/scorch_logo.png
      dest: /tmp
  - command: xdg-icon-resource install --size 64 --novendor /tmp/scorch_logo.png

  - name: OpenRocket desktop file
    when: ansible_os_family == "Debian"
    copy:
      src: ../config_files/openrocket.desktop
      dest: /usr/share/applications
      owner: root

  # - name: Inkstitch plugin
  #   when: ansible_os_family == "Debian"
  #   copy:
  #     src: ../config_files/inkstitch-v2.0.0
  #     dest: /usr/share/inkscape/extensions/
  #     owner: root


  - name: Prusa-slicer profiles for vectorspace user
    when: ansible_os_family == "Debian"
    ansible.posix.synchronize:
      src: /vsfs01/home/aspontarelli/.config/PrusaSlicer/
      dest: /home/vectorspace/.config/PrusaSlicer
      #owner: vectorspace

  - name: Prusa-slicer /vsfs01/opt Desktop file
    when: ansible_os_family == "Debian"
    copy:
      src: ../config_files/PrusaSlicer.desktop
      dest: /usr/share/applications/
      owner: root

  - name: LightBurn Application
    when: ansible_os_family == "Debian"
    ansible.posix.synchronize:
      src: /vsfs01/home/aspontarelli/ansible/config_files/LightBurn
      dest: /opt/
      #owner: root

  - name: CHITUBOX Desktop file
    when: ansible_os_family == "Debian"
    copy:
      src: /vsfs01/configs/chitubox.desktop
      dest: /usr/share/applications/
      owner: root

  - name: LightBurn Desktop file
    when: ansible_os_family == "Debian"
    copy:
      src: /vsfs01/home/aspontarelli/ansible/config_files/LightBurn.desktop
      dest: /usr/share/applications/
      owner: root

  - name: Lightburn license install
    copy:
      src: ../config_files/lightburn.ldata
      dest: /etc
      owner: root

  - name: LightBurn Config Files for vectorspace user
    copy:
      src: ../config_files/lightburn_config/
      dest: /home/vectorspace/.config/LightBurn/
      owner: vectorspace


  - name: Unlock Chromium desktop shortcut file
    when: ansible_os_family == "Debian"
    copy:
      src: /vsfs01/home/aspontarelli/ansible/config_files/unlock-chromium.desktop
      dest: /usr/share/applications/
      owner: root

  # - name: Freecad point to /vsfs01/opt version 0.19
  #   replace:
  #     path: /usr/share/applications/freecad.desktop
  #     regexp: '\/usr\/bin\/freecad'
  #     replace: '\/vsfs01\/opt\/freecad'

  # - name: Slack
  #   https://www.how2shout.com/linux/how-to-install-slack-on-debian-11-bullseye-linux/

  # - name: VSCode
  #   apt:
  #     deb: '/vsfs01/home/aspontarelli/ansible/config_files/code_1.93.1-1726079302_amd64.deb'
  #     dpkg_options: '-y' # answer yes to prompt
  # - name: VSCode2
  #   command: apt install /vsfs01/home/aspontarelli/ansible/config_files/code_1.93.1-1726079302_amd64.deb -y
