- name: system_administration
#  hosts: computer-lab, office, projectors
  hosts: 10.0.0.91
  become: true
  become_method: su
  ignore_errors: yes
  tasks:

  - name: enable NTP
    command: timedatectl set-ntp true

  - name: add truenas to hosts
    lineinfile:
      path: /etc/hosts
      line: "10.0.0.252      truenas"
      create: yes

  - name: "copy default lightdm.conf"
    copy:
      src: /vsfs01/configs/lightdm.conf
      dest: /etc/lightdm/lightdm.conf
      owner: root
      group: root
      mode: 0644

#   - name: Reboot every Sunday
#     copy:
#       src: ../scripts/reboot.sh
#       dest: /etc/cron.weekly/reboot
#       owner: root
#       group: root
#       mode: 0744

  - name: install group modification script
    copy:
      src: ../scripts/groups.sh
      dest: /etc/cron.hourly/groups
      owner: root
      group: root
      mode: 0744

  - name: install password change desktop script
    copy:
      src: /vsfs01/configs/passwd.desktop
      dest: /usr/share/applications/passwd.desktop
      owner: root
      group: root
      mode: 0755

  - name: Remove existing passwd change script
    ansible.builtin.file:
      path: "/vsfs01/home/mball/Desktop/passwd.desktop"
      state: absent
      
  - name: Create symlink for password change script
    ansible.builtin.file:
      src: "/usr/share/applications/passwd.desktop"
      dest: "/vsfs01/home/mball/Desktop/passwd.desktop"
      state: link

  - name: Add LDAP admins to sudoers
    # when: ansible_distribution_major_version == 10
    when: ansible_os_family == "Debian"
    lineinfile:
      path: /etc/sudoers
      line: '%admins ALL=(ALL:ALL) ALL'
      create: yes

    # sometimes missing on new debian installs. Needed by a few programs
  - name: Create Debian-exim group
    when: ansible_os_family == "Debian"
    group:
      name: Debian-exim
      state: present

  - name: Create colord group
    when: ansible_os_family == "Debian"
    group:
      name: colord
      state: present

  - name: Remove Chromium keyring (annoying popup)
    replace:
      path: /usr/share/applications/chromium.desktop
      regexp: '^Exec=.*'
      replace: 'Exec=/usr/bin/chromium %U --password-store=basic'

  - name: Clear XFCE cache
    file:
      path: /home/vectorspace/.cache/sessions/
      state: absent

  # - name: Setup XFCE4 taskbar for vectorspace user
  #   copy:
  #     src: /vsfs01/configs/xfce4/
  #     dest: /home/vectorspace/.config/xfce4/
  #     owner: vectorspace
  #     group: vectorspace
  #     mode: 0744
      
  - name: Install Agency FB font
    copy:
      src: ../config_files/AGENCYB.TTF
      dest: /usr/share/fonts/truetype/
      owner: root
      group: admins
      mode: 0744

  - name: Modify lightdm to load trim spaces library
    copy:
      src: ../config_files/pam.d_lightdm
      dest: /etc/pam.d/lightdm
      owner: root  
  
  - name: install trim_spaces.so shared library
    copy:
      src: ../config_files/pam_trimspaces.so
      dest: /usr/lib/x86_64-linux-gnu/security/
      owner: root


  - name: Ensure Firefox policy directory exists
    file:
      path: /etc/firefox/policies
      state: directory
      owner: root
      group: root
      mode: '0755'


  - name: Deploy Firefox policies.json
    ansible.builtin.copy:
      dest: "/etc/firefox/policies/policies.json"
      owner: root
      group: root
      mode: '0644'
      content: |
        {
          "policies": {
            "DontCheckDefaultBrowser": true,
            "NoDefaultBookmarks": true,
            "Homepage": {
              "URL": "https://vector-space.org",
              "Locked": true,
              "StartPage": "previous-session"
            },
            "SearchEngines": {
                "Default": "Google"
            },
            "Preferences": {
              "browser.startup.page": {
                "Value": 3,
                "Status": "locked"
              },
              "browser.newtabpage.enabled": {
                "Value": false,
                "Status": "locked"
              }
            },
            "OverrideFirstRunPage": "",
            "OverridePostUpdatePage": ""
          }
        }

  # - name: Set XFCE Web Browser property via xfconf-query
  #   ansible.builtin.command:
  #     cmd: xfconf-query -c xsettings -p /Net/WebBrowser -n -t string -s "firefox-esr"
  #   register: xfconf_result
  #   changed_when: xfconf_result.rc == 0

  - name: Set XDG default web browser via xdg-settings
    ansible.builtin.command:
      cmd: xdg-settings set default-web-browser firefox-esr.desktop
    register: xdg_result
    changed_when: xdg_result.rc == 0