- name: Update package repositories
  hosts: all
  become: yes
  become_method: su
  tasks:

    - name: Remove old Slack apt repository
      file:
        path: /etc/apt/sources.list.d/slack.list
        state: absent
      become: yes

    - name: Remove DVD repos from sources (Debian)
      when: ansible_os_family == "Debian"
      replace:
        path: /etc/apt/sources.list
        regexp: '^deb cdrom'
        replace: '# deb cdrom'

    - name: add non-free sources (Debian)
      when: ansible_os_family == "Debian"
      replace:
        path: /etc/apt/sources.list
        regexp: 'main$'
        replace: 'main contrib non-free'

    - name: add non-free sources (Debian)
      when: ansible_os_family == "Debian"
      replace:
        path: /etc/apt/sources.list
        regexp: 'main non-free$'
        replace: 'main contrib non-free'

    - name: add non-free sources (Debian)
      when: ansible_os_family == "Debian"
      replace:
        path: /etc/apt/sources.list
        regexp: 'contrib$'
        replace: 'contrib non-free'

    - name: Update apt cache
      apt:
        update_cache: yes
        cache_valid_time: 3600

    - name: Upgrade all packages
      apt:
        upgrade: dist