- hosts: computer-lab
  become: yes
  become_method: su
  ignore_errors: true
  tasks:

  - name: Install lab polkit power restrictions
    copy:
      dest: /etc/polkit-1/rules.d/49-lab-power.rules
      owner: root
      group: root
      mode: '0644'
      content: |
        polkit.addRule(function(action, subject) {
  
            if (action.id == "org.freedesktop.login1.lock-sessions") {
                return polkit.Result.YES;
            }
  
            if (
                action.id.startsWith("org.freedesktop.login1.power-off") ||
                action.id.startsWith("org.freedesktop.login1.reboot") ||
                action.id.startsWith("org.freedesktop.login1.halt") ||
                action.id.startsWith("org.freedesktop.login1.suspend") ||
                action.id.startsWith("org.freedesktop.login1.hibernate")
            ) {
                if (subject.isInGroup("sudo") || subject.isInGroup("admins")) {
                    return polkit.Result.YES;
                }
                return polkit.Result.NO;
            }
        });
  
  - name: Disable xfdisplay popup. Create global displays.xml.
    ansible.builtin.copy:
      dest: "/etc/xdg/xfce4/xfconf/xfce-perchannel-xml/displays.xml"
      owner: root
      group: root
      mode: '0644'
      content: |
        <?xml version="1.0" encoding="UTF-8"?>
        <channel name="displays" version="1.0">
          <property name="Notify" type="int" value="0"/>
        </channel>