- hosts: 10.0.0.98
  become: yes
  become_method: su
  ignore_errors: true
  tasks:

  - name: Install lab polkit power restrictions
    copy:
      dest: /etc/polkit-1/rules.d/49-lab-power.rules
      owner: root
      group: root
      mode: '0644'
      content: |
        polkit.addRule(function(action, subject) {
  
            if (action.id == "org.freedesktop.login1.lock-sessions") {
                return polkit.Result.YES;
            }
  
            if (
                action.id.startsWith("org.freedesktop.login1.power-off") ||
                action.id.startsWith("org.freedesktop.login1.reboot") ||
                action.id.startsWith("org.freedesktop.login1.halt") ||
                action.id.startsWith("org.freedesktop.login1.suspend") ||
                action.id.startsWith("org.freedesktop.login1.hibernate")
            ) {
                if (subject.isInGroup("sudo") || subject.isInGroup("admins")) {
                    return polkit.Result.YES;
                }
                return polkit.Result.NO;
            }
        });
  

#  The keyboard shortcut mods were surprisingly difficult to implement.
#  It's important to understand:
#  1.) The system level keyboard-shortcuts.xml is only used to create a user level config
#   the first time a new user logs in. After that, it is completely ignored. It is not as I
#   had assumed, read first, then appended to by the user level config.
#  2.) It's therefore necessary to modify the user level configs and almost pointless
#   to mess with the system level configs.
# 
      
  - name: Install xcape
    ansible.builtin.apt:
      name: [xcape]
      state: present


  - name: Create system-wide xcape autostart entry
    ansible.builtin.copy:
      dest: "/etc/xdg/autostart/xcape-super-key.desktop"
      content: |
        [Desktop Entry]
        Type=Application
        Name=Xcape Super Key
        Comment=Map Left Super to Whisker Menu (via Alt+shift+ctrl+w)
        Exec=xcape -e 'Super_L=Control_L|Alt_L|Shift_L|w'
        Terminal=false
        StartupNotify=false
        OnlyShowIn=XFCE;
      mode: '0644'

  - name: Install XFCE shortcut script
    copy:
      src: ../config_files/xfce-per-user-configs.sh
      dest: /usr/local/bin/xfce-per-user-configs.sh
      owner: root
      group: root
      mode: '0755'
      
  - name: Create the global autostart desktop entry
    ansible.builtin.copy:
      dest: /etc/xdg/autostart/xfce-settings-runner.desktop
      mode: '0644'
      content: |
        [Desktop Entry]
        Type=Application
        Name=Set Whisker Menu Shortcut
        Exec=/usr/local/bin/xfce-per-user-config.sh
        OnlyShowIn=XFCE;
        NoDisplay=true
        X-GNOME-Autostart-enabled=true

# END KEYBOARD MODS

  - name: Configure system idle suspend
    lineinfile:
      path: /etc/systemd/logind.conf
      regexp: "^#?{{ item.key }}="
      line: "{{ item.key }}={{ item.value }}"
    loop:
      - { key: "IdleAction",    value: "suspend" }
      - { key: "IdleActionSec", value: "120min" }



